syncthing:
  download:
    prefix: /opt/syncthing
    source: https://github.com/syncthing/syncthing/releases/download/v0.10.11/syncthing-linux-amd64-v0.10.11.tar.gz
    format: tar
    hash: md5=00551e0c2b8104f9f0ceedf9986b5096

  users:
    - syncthing:
        folders:
          School:
            - node1
            - node2
          Documents:
            - node3
            - node1
          Videos:
            - node1
            - node2
          Design:
            - node3
            - node1
        additional_nodes:
          node3: XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX
